

.bois-single_product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    padding: 1rem 2rem;
  }
  .bois-single_product .bois-single_img {
    width: 50vw;
    grid-column: 1 / 2;
    /* grid-row: 1/2; */
  }
  .bois-single_product img {
    height: 100%;
    width: 100%;
  }
  
  .bois-single_product .bois-single_content {
    padding: 1rem 2rem;
    grid-column: 2 / 3;
    /* grid-row: 1/2; */
    display: flex;
    flex-direction: column;
    gap: 2vw;
      
  }
  .bois-single_product .bois-div_contenu{
    display: flex;
    justify-content: center;
  }
  .bois-single_product .bois-single_content h2{
      font-size: 2rem;
      font-style: italic;
    }
  
  .bois-single_product .bois-single_description{
      padding: 12px;
      grid-column: 1/3;
      /* grid-row: 2/3; */
  }
  .bois-single_product .bois-single_content ul{
      list-style: none;
      display: flex;
      flex-direction: column;
      /* gap: 1vw; */
      padding: 0;
      margin: 0;
      
      background-color: #cb9b8a7d;
    }
  
    .bois-single_product .bois-single_content li{
     padding: 1rem;
     border: 1px solid black;
      box-shadow: 0px 3px 10px 0px black;
    }

    .bois-single_product .bois-panier{
        background-color: #a8583c;
        color: white;
        border: none;
        width: 15vw;
        height: 8vh;
    }
  
  